.calhero {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 560px;
    background-color: #162A87;
    /* border: 2px solid red; */
    align-self: center;
    overflow: hidden;
    border-radius: 20px;
    margin: 40px;
    margin-bottom: 120px;
    padding: 20px;
}

.calherotexts {
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 40px;
    /* position: relative;
    z-index: 2; */
}

.calHeadTexts {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
    margin-bottom: 24px;
}

.calHeadTexts span {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    color: #C18C0A;
}

.calheadptexts {
    font-size: 32px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    margin-top: 1em;
}

.cal {
    width: 440px;
    height: 480px;
    position: absolute;
    top: 40px;
    z-index: 20;
    left: 64vw;
}

/* Media query for screens with a width between 360px and 768px (inclusive) */
@media (min-width: 360px) and (max-width: 768px) {
    .calhero {
        width: 80vw;
        height: auto !important;
        margin: 40px;
        margin-bottom: 80px;
    }

    /* .calhero {
        display: flex;
        flex-direction: column;
        width: 90vw !important;
        height: 560px !important;
        background-color: #162A87;
        align-self: center;
        overflow: hidden;
        border-radius: 20px;
        margin: 40px;
        margin-bottom: 120px;
        padding: 20px;
        position: relative;

    } */

    .calherotexts {
        max-width: 100%;
        margin-left: 20px;
        margin-top: 20px;
    }

    .calHeadTexts,
    .calHeadTexts span,
    .calheadptexts {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    .cal {
        width: 100%;
        height: auto;
        position: static;
        top: auto;
        left: auto;
    }
}