.TeamMemberCard {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: center;
}

.memberImg {
    display: grid;
    place-content: center;
    width: 320px;
    height: 320px;
    overflow: hidden;
    border-radius: 100%;
}

.memberCardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.memberName {
    font-size: 2em;
    line-height: 32px;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    color: #F2B00D;
    margin-bottom: 0px;

}

.position {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 56px;
    font-family: 'DM Sans', sans-serif;
    color: #333;
    margin-top: 4px;
    margin-bottom: 20px;
}

@media (min-width: 360px) and (max-width: 768px) {
    .memberImg {
        display: grid;
        place-content: center;
        width: 120px;
        height: 120px;
        overflow: hidden;
        border-radius: 100%;
    }

    .TeamMemberCard {
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        align-items: center;
    }

    .memberName {
        font-size: 2em;
        line-height: 32px;
        letter-spacing: -.03em;
        font-weight: bold;
        font-family: 'Ubuntu Mono', monospace;
        color: #F2B00D;
        margin-bottom: 0px;
        text-align: center;
    }

    .position {
        font-size: 1em;
        font-weight: 400;
        /* line-height: 56px; */
        font-family: 'DM Sans', sans-serif;
        color: #333;
        margin-top: 4px;
        margin-bottom: 20px;
        text-align: center;
    }
}