.modalContainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  z-index: 99;
  position: fixed;
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
}

.offering {
  display: flex;
  flex-direction: column;
  /* height: 40px; */
  background-color: #6a74a4;
  color: #fff;
  /* border: 1px solid red; */
  justify-content: space-evenly;
  z-index: 99;
  padding: 24px;
  width: 100vw;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .modalContainer ul {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    list-style-type: none;
    max-width: -moz-max-content;
    max-width: max-content;
    gap: 24px;
    z-index: 99;
    padding: 24px;
    position: fixed;
    left: 50vw;
    justify-items: center;
    top: 250px;
  }

  .offering {
    display: flex;
    flex-direction: column;
    height: max-content;
    background-color: #6a74a4;
    color: #fff;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    z-index: 99;
    padding: 24px;
    align-items: center;

  }
}