/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: Ubuntu, DM Sans;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
} */